In [1]:
import pandas as pd

# INFLATION DATASET

In [2]:
inflation_file = "Data/inflation_1810025601-noSymbol.csv"
inflation_df = pd.read_csv(inflation_file, encoding="utf-8")
inflation_df.head(15)

   Reference period  Percent  2002=100
0      January 2003      2.5     101.7
1     February 2003      2.5     101.9
2        March 2003      2.4     101.9
3        April 2003      2.0     101.6
4          May 2003      2.0     102.0
5         June 2003      1.9     102.0
6         July 2003      1.8     102.1
7       August 2003      1.8     102.2
8    September 2003      1.9     102.4
9      October 2003      1.9     102.7
10    November 2003      1.7     102.9
11    December 2003      1.9     103.0
12     January 2004      1.6     103.1
13    February 2004      1.5     103.1
14       March 2004      1.6     103.2

# LIABILITES DATASET

In [3]:
liabilities_file = "Data/liabilities_3610063901-noSymbol.csv"
liabilities_df = pd.read_csv(liabilities_file, encoding="utf-8")
liabilities_df.head(20)

FileNotFoundError: [Errno 2] No such file or directory: 'Data/liabilities_3610063901-noSymbol.csv'

In [4]:
clean_liabilites_df = liabilities_df.dropna(how = "any")
clean_liabilities_df.count()

NameError: name 'liabilities_df' is not defined

# SALES DATASET

In [5]:
sales_file = "Data/SalesForCourse_table.csv"
sales_df = pd.read_csv(sales_file, encoding="utf-8")
sales_df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: 'Data/SalesForCourse_table.csv'

In [5]:
sales_df.count()

index               34867
Date                34866
Year                34866
Month               34866
Customer Age        34866
Customer Gender     34866
Country             34866
State               34866
Product Category    34866
Sub Category        34866
Quantity            34866
Unit Cost           34866
Unit Price          34866
Cost                34866
Revenue             34867
Column1              2574
dtype: int64

# CONSUMER SPENDING

In [80]:
spending_file = "Data/spending_3610012401-noSymbol.csv"
spending_df = pd.read_csv(spending_file, encoding="utf-8", on_bad_lines='skip')
spending_df.head(15)

,Estimates,Household final consumption expenditure,Food and non-alcoholic beverages,Food,Non-alcoholic beverages,"Alcoholic beverages, tobacco and cannabis",Alcoholic beverages,Tobacco,Cannabis products for non-medical use (licensed),Cannabis products for non-medical use (unlicensed),...,"Jewellery, clocks and watches",Other personal effects,Child care services outside the home,Child care services in the home,Other social services,Undertaking and other funeral services,Legal and other services,Net expenditure abroad,Expenditure by Canadians abroad,Expenditure by non-residents in Canada
0,Q1 2003,"168,235","16,079","14,292","1,787","8,114","3,441","3,291",..,"1,382",...,760,499,700,266.0,911,338.0,"1,134",-185,"4,812","-4,997"
1,Q2 2003,"169,357","16,149","14,354","1,795","8,166","3,448","3,322",..,"1,396",...,758,501,705,264.0,917,349.0,"1,138",401,"4,470","-4,069"
2,Q3 2003,"171,775","16,166","14,369","1,797","8,284","3,503","3,372",..,"1,409",...,765,500,715,262.0,925,352.0,"1,147",714,"5,100","-4,386"
3,Q4 2003,"171,840","16,265","14,457","1,808","8,390","3,546","3,424",..,"1,420",...,774,501,726,260.0,937,365.0,"1,163",614,"5,335","-4,721"
4,Q1 2004,"175,190","16,424","14,600","1,824","8,452","3,571","3,451",..,"1,430",...,793,520,744,258.0,958,362.0,"1,169",522,"5,482","-4,960"
5,Q2 2004,"177,340","16,637","14,787","1,850","8,439","3,593","3,408",..,"1,438",...,794,522,752,256.0,979,354.0,"1,187",391,"5,646","-5,255"
6,Q3 2004,"179,268","16,856","14,984","1,872","8,493","3,661","3,389",..,"1,443",...,789,527,761,251.0,999,354.0,"1,200",269,"5,569","-5,300"
7,Q4 2004,"181,142","17,148","15,245","1,903","8,473","3,631","3,396",..,"1,446",...,798,529,765,245.0,"1,019",361.0,"1,226",134,"5,560","-5,426"
8,Q1 2005,"184,591","17,192","15,238","1,954","8,447","3,689","3,311",..,"1,447",...,788,543,777,243.0,"1,038",379.0,"1,260",776,"6,088","-5,312"
9,Q2 2005,"187,126","17,303","15,337","1,966","8,490","3,754","3,292",..,"1,444",...,803,550,787,240.0,"1,053",367.0,"1,288","1,029","6,144","-5,115"
10,Q3 2005,"189,385","17,364","15,394","1,970","8,486","3,790","3,259",..,"1,437",...,813,553,792,237.0,"1,072",366.0,"1,316",942,"6,116","-5,174"
11,Q4 2005,"191,311","17,435","15,455","1,980","8,530","3,864","3,240",..,"1,426",...,832,560,801,234.0,"1,088",366.0,"1,347","1,063","6,236","-5,173"
12,Q1 2006,"194,786","17,733","15,726","2,007","8,512","3,897","3,204",..,"1,411",...,849,574,810,236.0,"1,101",366.0,"1,377","1,302","6,461","-5,159"
13,Q2 2006,"197,264","17,926","15,891","2,035","8,568","3,977","3,198",..,"1,393",...,860,587,823,237.0,"1,124",380.0,"1,399","1,277","6,528","-5,251"
14,Q3 2006,"199,875","18,209","16,147","2,062","8,508","3,997","3,138",..,"1,373",...,863,591,838,238.0,"1,146",381.0,"1,424","1,525","6,687","-5,162"

In [81]:
spending_df.count()

Estimates                                  84
Household final consumption expenditure    81
Food and non-alcoholic beverages           80
Food                                       80
Non-alcoholic beverages                    80
                                           ..
Undertaking and other funeral services     80
Legal and other services                   80
Net expenditure abroad                     80
Expenditure by Canadians abroad            80
Expenditure by non-residents in Canada     80
Length: 117, dtype: int64

In [82]:
clean_spending_df = spending_df.dropna(how = "any")
clean_spending_df.count()

Estimates                                  80
Household final consumption expenditure    80
Food and non-alcoholic beverages           80
Food                                       80
Non-alcoholic beverages                    80
                                           ..
Undertaking and other funeral services     80
Legal and other services                   80
Net expenditure abroad                     80
Expenditure by Canadians abroad            80
Expenditure by non-residents in Canada     80
Length: 117, dtype: int64